<div class="site-section ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mt-5">
          <div class="widget-next-match">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Teacher Name</th>
                  <th>Tel</th>
                  <th>Adress</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of teachers">
                  <td>{{teacher._id}}</td>
                  <td>{{teacher.firstName}} {{teacher.lastName}}</td>
                  <td>{{teacher.tel}}</td>
                  <td>{{teacher.adress}}</td>
                  <td><button type="button" *ngIf="teacher.status == 'nok'" class="btn btn-success me-2 rounded-pill " (click)="validateTeacher(teacher._id)">validate</button>
                    <button type="button"  class="btn btn-primary rounded-pill me-2" (click)="goToDispalyTeacher(teacher._id)">Display</button>

                    <button type="button"  class="btn btn-success  me-2 rounded-pill" (click)="saveTeacherId(teacher._id)"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">AffectToClass</button>
                      
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Affect Teacher To Class</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Select Class :</label>
                                  <select class="form-control"  id="classId" (change)="selectClass($event)">
                                    <option style ="color:grey" *ngFor="let class of classes" [value]="class._id">{{class.name}}</option>
                                  </select>
                                </div>
                                <!-- <div class="col-md-12 mt-3">
                                  <div class="form-check form-check-inline" *ngFor="let class of classes">
                                    <input class="form-check-input" type="checkbox" id="classId" (change)="checkClass($event,class._id)" [value]="class._id" >
                                    <label class="form-check-label" for="inlineCheckbox1">
                                        {{class.name}}
                                    </label>
                                  </div>
                                </div> -->
                                <div class="col-md-12 mt-3">
                                  <div class="form-check form-check-inline" *ngFor="let course of coursesList">
                                    <input class="form-check-input" type="checkbox" id="coursesId" (change)="checkCourse($event)" [value]="course._id" >
                                    <label class="form-check-label" for="inlineCheckbox1">
                                        {{course.name}}
                                    </label>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" (click)="affectTeacherToClass()">Save</button>
                            </div>
                          </div>
                        </div>
                    </div> 
                    <button type="button"  class="btn btn-warning me-2 rounded-pill" (click)="goToEditTeacher(teacher._id)">Update</button>
                    <button type="button" class="btn btn-danger rounded-pill" (click)="deleteTeacher(teacher._id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>