<div class="course-item bg-light">
    <div class="position-relative overflow-hidden">
        <img class="img-fluid" [src]="x.avatar" alt="">
    </div>
    <div class="text-center p-4 pb-0">
        <h3 class="mb-0">{{x.name}}</h3>
        <div class="mb-3">
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
        </div>
        <h5 class="mb-4">{{x.description}}</h5>
    </div>
    <div class="d-flex border-top">
        <strong class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{x.duration}}</strong>
    </div>
</div>