<div class="site-section ">
    <div class="container">
      <div class="row">
        <div class="form-floating col-lg-4 mt-3" style="margin-left: 35%;">
          <input type="text" class="form-control" name ="name" [(ngModel)]="term" placeholder="Name">
          <label for="name" class="px-4">Name</label>
        </div> 
        <div class="col-lg-12 text-center mt-5">
          <div class="widget-next-match">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Duration</th>
                  <th *ngIf="user.role =='admin'">Teacher</th>
                  <th *ngIf="(user.role=='student' || user.role=='parent')">Class</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses | customFilter : term">
                  <td>{{course._id}}</td>
                  <td>{{course.name}}</td>
                  <td>{{course.description}}</td>
                  <td>{{course.duration}}</td>
                  <td *ngIf="(user.role=='student' || user.role=='parent')">{{class.name}}</td>
                  <td *ngIf="user.role =='admin'">{{course.teacher?.firstName}} {{course.teacher?.lastName}}</td>
                  <td><button type="button"  class="btn btn-primary rounded-pill " (click)="goToDispalyCourse(course._id)">Display</button>

                    <button type="button"  class="btn btn-warning ms-1 me-1 rounded-pill" (click)="goToEditCourse(course._id)"
                    *ngIf="(user.role=='admin' || user.role=='teacher')">Update</button>

                    <button type="button" class="btn btn-danger rounded-pill me-1" (click)="deleteCourse(course._id)"
                    *ngIf="(user.role=='admin' || user.role=='teacher')">Delete</button>
                    <!-- <i class="fa-sharp fa-regular fa-trash-can-clock fa-2xl" style="color: #ed0707;" (click)="deleteCourse(course._id)"></i> -->
                    <button type="button"  class="btn btn-success rounded-pill " (click)="goToDispalyStudents(course._id)" 
                    *ngIf="user.role =='teacher'">Students</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
